* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: space-evenly;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4.5rem;
}

.left__form {
    display: block;
}

#sec__photo__container {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 20px;
}

input[type="file"] {
    display: none;
}

.input__container {
    width: 580px;
    height: 85px;
    margin: 2rem 0rem;
    display: flex;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}

.input__container--3 {
    height: 220px;
}

.input__field {
    border: none;
    background: none;
    width: 400px;
}
.input__field:focus {
    border: none;
    outline: none;
}
.input__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.input__desc h3 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    /* #666666 - Mid Grey */
    color: #666666;
}

.input__desc input {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #000000;
}

.input__icon {
    padding: 20px;
    width: 100px;
    height: 100px;
}

textarea {
    resize: none;
    font-size: 20px;
}

/* right */
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right__img--1 {
    width: 350px;
}

.right__img--2 {
    width: 815px;
}

.left h1 {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.075em;
    color: #01509d;
}

.txt span {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.075em;
    color: #fdc500;
}

.nav__btn--2 {
    background: #fdc500;
    box-shadow: 0px 4px 12px rgba(253, 197, 0, 0.2);
    border-radius: 8px;
    padding: 15px 50px;
    text-align: center;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    color: #01509d;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 210px;
}
.nav__btn--2:hover {
    background: none;
    border: 2px solid #fdc500;
    transition: all 0.3s ease;
}

.left__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.btn--2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    color: #959595;
}

.btn--2 span {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #01509d;
    cursor: pointer;
}

.form__photo__label {
    display: flex;
    gap: 0.5rem;
}

.import-icon {
    width: 20px;
}

.form__photo {
    cursor: pointer;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #0064e5;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .right {
        display: none;
    }

    .left {
        padding: 2rem;
    }

    .input__container {
        width: 100%;
    }

    .input__field {
        width: 100%;
    }

    .right__img--1 {
        width: 100%;
    }

    .right__img--2 {
        width: 100%;
    }
}
/* done */
