* {
    margin: 0;
    box-sizing: inherit;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    position: relative;
}

.asset--1 {
    width: 150px;
    position: absolute;
    top: -100px;
}

.asset--2 {
    width: 40%;
    position: absolute;
    right: 0;
    top: -100px;
}

.header__asset {
    object-fit: contain;
}

.form__asset--1 {
    width: 13rem;
    position: absolute;
    top: -20%;
    left: 35%;
    right: 70%;
}

.left__form {
    margin-top: 100px;
    margin-left: 200px;
    position: relative;
    width: 790px;
    height: 326px;
    background-image: url("Pic/blob.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.form__txt {
    position: absolute;
    top: 40%;
    left: 15%;
}

.form__txt h1 {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.075em;

    color: #01509d;
}
.form__txt h3 {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 109% */

    color: #000000;
}
.form__txt span {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 109% */

    text-decoration-line: underline;

    color: #01509d;
}

.asset--3 {
    width: 7.5rem;
    position: absolute;
    top: -5rem;
}

.asset--4 {
    width: 6rem;
    position: absolute;
    bottom: -10rem;
    left: -10rem;
}

/* inputs */
.input__container {
    width: 580px;
    height: 85px;
    display: flex;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}

.container--1 {
    background: #ebebeb;
}
.input__field {
    border: none;
    background: none;
    width: 400px;
}
.input__field:focus {
    border: none;
    outline: none;
}
.input__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.input__desc h3 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    /* #666666 - Mid Grey */

    color: #666666;
}

.input__desc input {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #000000;
}

.input__icon {
    opacity: 0.4;
    padding: 20px;
}

.input__icon--1 {
    margin-top: 8px;
    width: 75px;
    height: 70px;
}

.form__inputs {
    margin-left: 20rem;
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
}

.remember label {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-left: 0.5rem;
    /* identical to box height */

    color: #666666;
}

#check {
    scale: 1.5;
    accent-color: #ffcb21;
}

.remember {
    margin-right: auto;
    margin-left: 0.5rem;
}

.log {
    width: 60%;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.log h3 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    /* identical to box height, or 109% */

    /* #959595 - Mid Grey 2 */

    color: #959595;
}
.log span {
    text-decoration-line: underline;
    color: #01509d;
}

.modal__btn {
    background: #fdc500;
    box-shadow: 0px 4px 12px rgba(253, 197, 0, 0.2);
    border-radius: 8px;
    padding: 15px 50px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    color: #000000;

    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.modal__btn:hover {
    background: none;
    border: 2px solid #fdc500;
    transition: all 0.3s ease;
}

.asset--5 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}

.main__pic {
    width: 600px;
    object-fit: cover;
    position: absolute;
    right: 10%;
    top: 20%;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .asset--1 {
        display: none;
    }

    .asset--2 {
        display: none;
    }
    .main__pic {
        display: none;
    }
    .asset--3 {
        width: 7.5rem;
        position: absolute;
        top: -18vh;
        margin: 0;
    }
    .form__asset--1 {
        top: -11vh;
    }

    .asset--4 {
        width: 6rem;
        position: absolute;
        bottom: -10rem;
        margin: 0;
        /* left: -10rem; */
    }
    main {
        width: 100vw;
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left__form {
        margin: 0;
        width: 100vw;
        top: 20vh;
        background-size: 100%;
    }
    .form__inputs {
        margin: 0;
        margin-top: 11vh;
    }

    .here {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input__container {
        width: 90vw;
    }

    .input__field {
        width: 70vw;
    }

    .asset--5 {
        width: 100px;
        margin: 0;
    }
    .form__txt h1 {
        font-size: 26px;
    }
    .form__txt {
        position: absolute;
        top: 18%;
        left: 15%;
    }
}
