* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    justify-content: space-evenly;
}

.para {
    width: 500px;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4.5rem;
}

.left__form {
    display: block;
}

#sec__photo__container {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 20px;
}

input[type="file"] {
    display: none;
}

.input__container {
    width: 580px;
    height: 85px;
    margin: 2rem 0rem;
    display: flex;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}

.input__container select {
    width: 460px;
    font-size: 18px;
}

.input__container--3 {
    height: 220px;
}

.input__field {
    border: none;
    background: none;
    width: 400px;
}
.input__field:focus {
    border: none;
    outline: none;
}
.input__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.input__desc h3 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    /* #666666 - Mid Grey */

    color: #666666;
}

.input__desc input {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #000000;
}

.input__icon {
    padding: 20px;
    width: 100px;
    height: 100px;
}

textarea {
    resize: none;
    font-size: 20px;
}

/*right*/
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right__img--1 {
    width: 350px;
}

.right__img--2 {
    width: 815px;
}

.left h1 {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.075em;

    color: #01509d;
}

.txt span {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.075em;

    color: #fdc500;
}

.nav__btn--2 {
    background: #fdc500;
    box-shadow: 0px 4px 12px rgba(253, 197, 0, 0.2);
    border-radius: 8px;
    padding: 15px 50px;
    text-align: center;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    color: #01509d;

    cursor: pointer;
    transition: all 0.3s ease;
    width: 210px;
}
.nav__btn--2:hover {
    background: none;
    border: 2px solid #fdc500;
    transition: all 0.3s ease;
}

.left__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.btn--2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    color: #959595;
}

.btn--2 span {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #01509d;
    cursor: pointer;
}

.form__photo__label {
    display: flex;
    gap: 0.5rem;
}
.import-icon {
    width: 20px;
}

.form__photo {
    cursor: pointer;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #0064e5;
}
.input__icon--1 {
    margin-top: 8px;
    width: 75px;
    height: 70px;
}

.sub__txt {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.075em;

    color: #01509d;
}

.txt--2 {
    margin-left: 8rem;
}

.chip {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 1rem;
}

.email {
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.email__icon {
    height: 1.2rem;
    width: 1.2rem;
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
}
.delete-btn {
    border: none;
    background: none;
    margin-left: 0.8rem;
}
select {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .right {
        display: none;
    }
    .txt {
        height: 20vh;
        text-align: center;
    }
    .left {
        width: 100vw;
        padding: 3rem;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alert {
        margin-top: 15px;
    }
    .input__container {
        width: 90vw;
        margin: 0;
    }

    .input__field {
        width: 70vw;
        margin: 0;
    }
    .para {
        width: 90vw;
        height: 20vh;
        margin: 0px 15px;
    }
    .left h1 {
        width: 100vw;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.075em;

        color: #01509d;
    }
    .left__btns {
        margin-top: 10rem;
    }
    .btn {
        margin-top: 15px;
    }
}
